@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #e6e6e6;
  font-family: "Crimson Text", serif;
}


.free-text {
  margin: 0;
}


.blank-body {
  background: #000;
  min-height: 100vh;
}


.blank-content {
  max-width: 760px;
  margin: 0 auto;
  padding: 120px 40px;
  font-style: italic;
}


.blank-content h1,
.blank-content h2,
.blank-content h3 {
  font-weight: 700;
}

a {
  color: #e0aaff;
  text-decoration: none;
}

