<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} · Rastros de Anis</title>

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

  </head>

  <body class="blank-body">
    <div class="blank-content">
      {{ content }}
    </div>
  </body>
</html>
