<!DOCTYPE html>
<html lang="pt">
<head>
  <div style="background-color: #000;">
  <meta charset="UTF-8">
  <title>{{ page.title }} — {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body class="default-body">

<header class="header">
  <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
  <nav class="nav">
    <a href="/">Início</a>
    <a href="/blog/">Blog</a>
    <a href="/projetos/">Projetos</a>
  </nav>
</header>
  
<main class="content">
  {{ content }}
</main>

</body>
</html>
